@{
    ViewData["Title"] = "Index";
}

@{
    var status = Context.Request.Query["status"];
    var pending = "text-primary";
    var inprocess = "text-primary";
    var completed = "text-primary";
    var approved = "text-primary";
    var all = "text-primary";

    switch (status)
    {
        case "pending":
            pending = "active text-white bg-primary";
            break;
        case "inprocess":
            inprocess = "active text-white bg-primary";
            break;
        case "completed":
            completed = "active text-white bg-primary";
            break;
        case "approved":
            approved = "active text-white bg-primary";
            break;
        default:
            all = "active text-white bg-primary";
            break;

    }
}

<div class="mb-sm-5">
    <div class="card shadow border-0 mb-3">
        <div class="card-header bg-secondary bg-gradient m-lg-0 py-3">
            <div class="row">
                <div class="col-12 text-center">
                    <h2 class="text-light">Ordered List</h2>
                </div>
            </div>
        </div>

        <div class="card-body p-4">
            <div class="d-flex justify-content-between pb-1 pt-2">
                <span></span>
                <div class="">
                    <ul class="list-group list-group-horizontal border fw-bold">
                        <a class="text-decoration-none" asp-controller="Order" asp-action="Index" asp-route-status="inprocess">
                            <li class="list-group-item @inprocess">In Process</li>
                        </a>
                        <a class="text-decoration-none" asp-controller="Order" asp-action="Index" asp-route-status="pending">
                            <li class="list-group-item @pending">Payment Pending</li>
                        </a>
                        <a class="text-decoration-none" asp-controller="Order" asp-action="Index" asp-route-status="completed">
                        <li class="list-group-item @completed">Completed</li>
                        </a>
                        <a class="text-decoration-none" asp-controller="Order" asp-action="Index" asp-route-status="approved">
                        <li class="list-group-item @approved">Approved</li>
                        </a>
                        <a class="text-decoration-none" asp-controller="Order" asp-action="Index" asp-route-status="all">
                        <li class="list-group-item @all">All</li>
                        </a>
                    </ul>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-3 p-3">
                <a class="btn btn-primary" asp-area="Customer" asp-controller="Home" asp-action="Index"><i class="bi bi-skip-backward-circle-fill"></i> Back</a>
            </div>
            <div class="col-9 text-end p-3">
                <label class="fw-bold"><i class="bi bi-search"></i> Search:</label>
                <input type="text" class="border-2" placeholder="search here" />
            </div>
        </div>
        <table class="table table-bordered table-striped p-sm-4" id="tblData">
            <thead>
                <tr class="text-center table-dark">
                    <th width="80px">ID <i class="bi bi-person-badge"></i></th>
                    <th width="220px">Name <i class="bi bi-person-circle"></i></th>
                    <th width="180px">Phone Number <i class="bi bi-telephone-fill"></i></th>
                    <th width="280px">Email <i class="bi bi-envelope-paper-fill"></i></th>
                    <th width="200px">Status <i class="bi bi-check2-circle"></i></th>
                    <th width="150px">Total in <i class="bi bi-currency-rupee"></i></th>
                    <th>Order Details <span class="bi bi-file-earmark-text"></span></th>
                </tr>
            </thead>
            <tbody>
                @*Diplaying data through API Call*@
            </tbody>
        </table>
    </div>
</div>


<script type="text/javascript">

    //JQuery
    $(document).ready(function () {
        var url = window.location.search;

        if (url.includes("inprocess")) {
            loadDataTable("inprocess");
        }
        else if (url.includes("pending")) {
            loadDataTable("pending");
        }
        else if (url.includes("completed")) {
            loadDataTable("completed");
        }
        else if (url.includes("approved")) {
            loadDataTable("approved");
        }
        else {
            loadDataTable("all");
        }
    });


    //JavaScript Functions
    function loadDataTable(status) {
        $.ajax({
            type: "GET",
            url: "/admin/order/getall?status=" + status,
            success: function (response) {
                var data = response.data;

                $('#tblData tbody').empty();
                data.forEach(function (orderData) {
                    var row =
                        `<tr class="text-center">
                                         <td>${orderData.id}</td>
                                         <td>${orderData.name}</td>
                                         <td>${orderData.phoneNumber}</td>
                                         <td>${orderData.applicationUser.email}</td>
                                         <td>${orderData.orderStatus}</td>
                                         <td>${orderData.orderTotal}</td>
                                         <td>
                                            <a class="btn btn-primary" href="order/details?orderId=${orderData.id}"><i class="bi bi-pencil-square"></i></a>
                                         </td>
                            </tr>`;
                    $('#tblData tbody').append(row);
                });
            },
            error: function (xhr, status, error) {
                alert('error' + error);
            }
        });
    }

</script>

